body{
  background-color: hsl(212, 45%, 89%);
  margin: 150px auto 150px auto;
}

.white-container{
  background-color: hsl(0, 0%, 100%);
  display: block;
  width: 20%;
  margin: auto;
  padding-top: 10px;
  border-radius: 10px;
}

.QrCode-image{
   display: block;
   width:90%;
   position: relative;
   border-radius:  5%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 8px;
   }

.heading1{
  margin: auto;
  width: 82%;
  display: block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.heading2{
  margin: auto;
  width: 70%;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}
